{% extends 'base.html.twig' %}

{% block title %}Tricks index{% endblock %}

{% block body %}
    <header></header>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <div id="tricks" class="tricks_home">
        {% for trick in tricks %}
        <div class="card" style="width: 18rem;">
            <img src="../imagesTricks/ollie.jpeg" class="card-img-top" alt="{{ trick.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ trick.name }}</h5>
                <div class="card_button">
                    <div class="button_edit">
                        <a href="{{ path('app_tricks_edit', {'id': trick.id}) }}">
                            <i class='bx bxs-edit-alt'></i>
                        </a>
                    </div>
                    <div class="button_delete">
                        <a href="#">
                            <i class='bx bxs-trash'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdCategory</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreateAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.createAt ? trick.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.updateAt ? trick.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tricks_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('app_tricks_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tricks_new') }}">Create new</a>
{% endblock %}
